.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
  /* background-color: #eefef4;  Adjust color as needed */
  z-index: 9999;
}

.progress-bar {
  height: 100%;
  width: 0;
  background-color: #0a1819;
  /*Adjust color as needed*/
  /* background-color: #023044;   */
  transition: width 0.2s;
}


#notification-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  /* width: 500px; Adjust as needed */
  text-align: center;
  /* Center text */
}

.notification {

  color: #fff;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.notification.success {
  background-color: #21565e;
}

.notification.error {
  background-color: #F01E00;
}

.notification.info {
  background-color: #F9AB00;
  color: white;
  /* Adjust text color for better readability */
}

.notification.show {
  opacity: 1;
}




.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}




.header-logo {
  width: 80% !important;
}



@media (max-width: 335px) {
  .header-logo {
    width: 50% !important;
  }
}

@media (min-width: 768px) {
  .header-logo {
    width: 30% !important;
  }
}

@media (max-width: 768px) {
  .tag {
    padding-top: 2% !important;
  }

  .header-logo {
    width: 50% !important;
  }
}
 
@media (min-width: 991px) {
  .header-logo {
    width: 70% !important;
  }
}  


@media (min-width: 991px) and (max-width: 1500px) {
  .header-logo {
    width: 20% !important;
  }
} 